/* GLOBAL CLASSES */

.d-flex { display: flex; }
.cpointer { cursor: pointer; }

/* MAIN TAGS CLASSES */

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  margin: 0 auto;
}

main {
  padding-top: 5rem;
  width: 100%;
  background: url("images/bg.jpg");
  background-position: bottom;
  color: #fff;
}

footer {
  flex-wrap: wrap;
  color: rgb(110, 110, 110);
  font-size: 10px;
  margin: 10px 20px;
}

h1,
h2,
h3 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
}

h1 {
  font-size: 50px;
  margin: 40px auto;
}

h2 {
  width: 55%;
  padding-bottom: 25px;
}

h3 {
  padding-bottom: 100px;
}

p {
  margin: 10px 0 0 0;
}

img {
  vertical-align: text-top;
}

.gradient-bg,
.menu-btn-search:hover {
  background: rgb(131, 135, 131);
  background: linear-gradient(180deg, rgba(131, 135, 131, 1) 0%, rgba(112, 112, 112, 1) 50%, rgba(94, 94, 94, 1) 50%, rgba(113, 117, 113, 1) 100%);
}

/* MENU BAR STYLE */

#menu {
  margin: auto;
  width: 80%;
  border-radius: 0.4rem;
  padding: 0;
}

#menu li {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  border-right: 0.1rem solid #a7a5a58f;
}

#menu li:hover {
  background-color: #3e3e3e85;
}

#menu li:first-child:hover {
  border-radius: 0.4rem 0 0 0.4rem;
}

footer a {
  color: rgb(0, 136, 204);
  text-decoration: none;
}
  
.menu-btn a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.logo-height { height: 2.6rem; }

.logo {
  background: url(images/apple-header.png) no-repeat -1.3rem 0.3rem;
}

.store-bg {
  background: url(images/apple-header.png) no-repeat -1.3rem -1.6rem;
}

.mac-bg {
  background: url(images/apple-header.png) no-repeat -1.3rem -3.3rem;
}

.ipod {
  background: url(images/apple-header.png) no-repeat -1.3rem -5.3rem;
}

.iphone {
  background: url(images/apple-header.png) no-repeat -1.3rem -7.2rem;
}

.itunes {
  background: url(images/apple-header.png) no-repeat -1.3rem -9.0rem;
}

.ipad {
  background: url(images/apple-header.png) no-repeat -1.3rem -10.9rem;
}

.supports {
  background: url(images/apple-header.png) no-repeat -1.3rem -12.7rem;
}

.menu-btn-search input {
  border-radius: 10px;
  padding-left: 25px;
  margin: 11px 0 0 2px;
  width: 70%;
  background: url("images/search-bg.png") no-repeat 0 -0.1rem;
  color: #fff;
}
  
.menu-btn-search input:focus {
  color: #000;
  background: url("images/search-bg.png") no-repeat 0 -1.4rem;
}
  

/* IMAGES ADS (4 COLUMNS) STYLE */

#images-ads {
  height: 200px;
}

.img-ads {
  width: 25%;
  max-width: 364px;
  height: 100%;
  background-position: center;
}

#ad1 {
  background-image: url("images/iphone5-ft.jpg");
}

#ad2 {
  background-image: url("images/iphone5-fc.jpg");
}

#ad3 {
  background-image: url("images/hbd30.jpg");
}

#ad4 {
  background-image: url("images/supplier-rep.jpg");
}

/* BEGINS FOOTER STYLING */

.footer-part {
  width: 49%;
}

.footer-nav-ul li {
  display: inline-block;
  vertical-align: text-top;
  padding: 0 5px;
  margin: 0 0;
  border-right: 1px solid rgb(204, 204, 204);
}

.footer-nav-ul li:last-child {
  padding-left: 2px;
  border: none;
}